HOMECAGE_ADMIN_TOKEN=change-this-token
HOMECAGE_HOST=0.0.0.0
HOMECAGE_PORT=8000
HOMECAGE_DATA_DIR=./data
HOMECAGE_HA_MQTT_HOST=
HOMECAGE_HA_MQTT_PORT=1883
HOMECAGE_HA_MQTT_USERNAME=
HOMECAGE_HA_MQTT_PASSWORD=
HOMECAGE_HA_MQTT_TOPIC_PREFIX=homecage
HOMECAGE_HA_MQTT_DISCOVERY_PREFIX=homeassistant
